<section>
    <header>
        <mat-toolbar class="mat-elevation-z6" color="primary">
            <mat-toolbar-row>
                <div>
                    <button class="home-button" mat-icon-button (click)="drawer.toggle()">
                        <mat-icon class="drawer-icon" *ngIf="!drawer.opened">menu</mat-icon>
                        <mat-icon class="drawer-icon" *ngIf="drawer.opened">close</mat-icon>
                    </button>
                    Vault Manager
                </div>
                <button class="auth-button" mat-raised-button color="secondary" >
                    Button
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </header>

    <!-- Navigation drawer with content -->
    <mat-drawer-container [autosize]="true">
        <mat-drawer #drawer [mode]="'side'">
            <!-- <app-drawer-item routerLink="/home" [icon]="'home'">
                {{ 'NAVIGATION.HOME' | translate }}
            </app-drawer-item>
            <app-drawer-item routerLink="/templates" [icon]="'draw'">
                {{ 'NAVIGATION.EMAIL_TEMPLATES' | translate }}
            </app-drawer-item>
            <app-drawer-item routerLink="/recipients" [icon]="'person'">
                {{ 'NAVIGATION.RECIPIENTS' | translate }}
            </app-drawer-item>
            <app-drawer-item routerLink="/recipient-groups" [icon]="'people'">
                {{ 'NAVIGATION.RECIPIENT_GROUPS' | translate }}
            </app-drawer-item>
            <app-drawer-item routerLink="/history" [icon]="'history'">
                {{ 'NAVIGATION.HISTORY' | translate }}
            </app-drawer-item>
            <app-drawer-item routerLink="/send-emails" [icon]="'emails'">
                {{ 'NAVIGATION.SEND_EMAILS' | translate }}
            </app-drawer-item> -->
        </mat-drawer>

        <mat-drawer-content class="mat-app-background">
            <main>
                <router-outlet></router-outlet>
            </main>
        </mat-drawer-content>
    </mat-drawer-container>

    <footer>

    </footer>
</section>
